{% if data.videos %}
<?xml version="1.0" encoding="UTF-8"?>
<rss
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:dcterms="http://purl.org/dc/terms/" version="2.0">
  <channel>
    <title><![CDATA[{{data.title}}]]></title>
    <link>{{data.link}}</link>
    <description><![CDATA[{{data.description}}]]></description>
    <lastBuildDate>{{ now|date("r") }}</lastBuildDate>
    <language><![CDATA[pt-br]]></language>
    <atom:link href="{{data.linkrss}}" rel="self" type="application/rss+xml"/>

    {% for video in data.videos %}
        <item>
            <guid isPermaLink="true"><![CDATA[{{video.url}}]]></guid>
            <title><![CDATA[{{video.title}}]]></title>
            <pubDate>{{ video.publishdate|date("r") }}</pubDate>
            <dcterms:modified>{{ video.publishdate|date("c") }}</dcterms:modified>
            <link><![CDATA[{{video.url}}]]></link>
            <dc:creator><![CDATA[{{video.category}}]]></dc:creator>
            {% if video.shortdescription %}
                <dcterms:alternative><![CDATA[{{video.shortdescription}}]]></dcterms:alternative>
            {% endif %}
            <description><![CDATA[{{video.description}}]]></description>
            <category><![CDATA[{{video.category}}]]></category>
            <media:content duration="{{video.duration}}" type="application/x-shockwave-flash" width="640" height="390"  url="{{video.videoUrl}}">
                <media:thumbnail url="{{video.image}}" width="480" height="360" />
                <media:title><![CDATA[{{video.title}}]]></media:title>
                <media:description><![CDATA[{{video.description}}]]></media:description>
                <media:credit><![CDATA[{{video.category}}]]></media:credit>
            </media:content>
        </item>
    {% endfor %}
  </channel>
</rss>
{% endif %}